body {
    background-color:#e5e5e5;
    font-family: 'Verdana', sans-serif;
}

.hbar-logo {
    width: 10vh;
}

.built-on {
    width: 15vh;
}


.chart-container {
    width: 75%;
    height: 100%;
  }