<!DOCTYPE html>
<html lang="en">
<%- include("../partials/_header.ejs") %>
<body>

<%- include("../partials/_navigation.ejs") %>

<div class="container mt-5" style="min-height:50vh">
  <div class="row">
    <div class="col-sm-12">
      <h2>About</h2>
      <div class="shadow-sm bg-light p-3 mt-3 rounded-1 border">
        <p>Hedera is a decentralized, open-source, proof-of-stake public ledger that utilizes the leaderless, asynchronous Byzantine Fault Tolerance (aBFT) 
          hashgraph consensus algorithm. It is governed by a collusion-resistant, decentralized council of leading enterprises, universities, and web3 projects 
          from around the world.
        </p>
        <p>Hedera’s performance-optimized Ethereum Virtual Machine (EVM) smart contracts, along with its easy-to-use native tokenization and consensus service APIs, 
          enable developers to create real-time web3 applications and ecosystems that will drive the future of the internet.
        </p>
        <p>Hedera is built differently from other blockchains. It has high throughput with fast finality; low, predictable fees; fair transaction ordering with consensus 
          timestamps; and a robust codebase that ensures scalability and reliability at every layer of its network infrastructure. Hedera is governed responsibly by the world’s 
          leading organizations to ensure that the network is collusion-resistant.</p>
        <p>
          This system is meant to be accessed by IoT devices, so most of its functionality will be via POSTs. 
          This system utilizes the Hedera™ network to store files related to spirometer data.
          Spirometer files can be searched using the file search functionality in the navigation bar. The exact file ID must be known.
          A new enclosure needs to be designed for the spirometer, or at bare minimum the tube to the microphone to ensure the test is performed 
          properly. Currently, since the microphone is not fixed in any position readings are wildly inconsistent.
        </p>
      </div>
      
    </div>
  </div>
</div>

<%- include("../partials/_footer.ejs") %>

</body>
</html>
