<!DOCTYPE html>
<html lang="en">
<%- include("../partials/_header.ejs") %>
<body>

<%- include("../partials/_navigation.ejs") %>

<div class="container mt-5" style="min-height:50vh">
  <div class="row">
    <div class="col-sm-12">
      <h2>About</h2>
      <p>This system utilizes Hedera Hashgraph to store data using its file service. Hedera is an 
        open source, public network governed by leading organizations around the world.
        The Hedera Governing Council is a decentralized and transparent governing body of independent, 
        global organizations consisting of enterprises, web3 projects, and prestigious universities.
      </p>
      <p>
        This system is meant to be accessed by IoT devices, so most of its functionality will be via POSTs.
        Future work will be to flesh out a front end to allow for browsing of data.
      </p>

      <p>
      <% listnames.forEach(function(name) { %>
        <%= name %>
        <% }); %>
      </p>

    </div>
  </div>
</div>

<%- include("../partials/_footer.ejs") %>

</body>
</html>
