<div class="mt-5 p-4 bg-black text-white text-center" style="min-height:10vh" aria-label="Footer." name="footer">
  <img src="images/Built_on_Hedera_White.png" aria-labl="Built on Hedera logo." name="built-on-logo" class="built-on" alt="Built on Hedera logo."/>
  <p>Copyright © 2023 Olvera-Dev</p>
</div>
  